<div class="container">
  <table class="table mt-3 border">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Product</th>
        <th scope="col">Name</th>
        <th scope="col">Count</th>
        <th scope="col">Price</th>
        <th scope="col" class="mr-3 text-center">Total</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of basket; let i=index" class="mypos">
        <span class="mycross" (click)="removeProd(prod)">X</span>

        <td><img [attr.src]="prod.image" class="myimg" alt=""></td>
        <td>{{ prod.name }}</td>
        <td>{{ prod.count }}</td>
        <td>{{ prod.price }}</td>
        <td class="d-flex justify-content-center">
          <div class="but">
            <button class="mybtn " (click)="productCount(prod,false)">-</button>
            <input type="text" maxlength='1' class="w-25 text-center border" [value]="prod.count">
            <button class="mybtn " (click)="productCount(prod,true)">+</button>
          </div>
        </td>
        <td>
          {{ prod.price*prod.count }}
        </td>

      </tr>
      <tr>
        <td colspan="7">
          <h2 class="text-right text-danger">
            total: {{ totalPrice }} грн
          </h2>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="w-100 d-flex justify-content-center">
    <button class="btn mybut" (click)="openModal(template)" type="submit">Order</button>
  </div>
</div>


<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Order</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="resetForm()" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>


      <div class="form-group d-flex justify-content-between">
        <label for="userName">Name: </label>
        <input [(ngModel)]="userName" name="userName" type="text" class="w-75 rounded border" id="userName">
      </div>
      <div class="form-group d-flex justify-content-between">
        <label for="userEmail">Email: </label>
        <input [(ngModel)]="userEmail" name="userEmail" type="email" class="w-75 rounded border" id="userEmail">
      </div>
      <div class="form-group d-flex justify-content-between">
        <label for="userPhone">Phone number: </label>
        <input [(ngModel)]="userPhone" name="userPhone" type="tel" class="w-75 rounded border" id="userPhone">
      </div>
      <div class="form-group d-flex justify-content-between">
        <label for="userStreet">Street: </label>
        <input [(ngModel)]="userStreet" name="userStreet" type="text" class="w-75 rounded border" id="userStreet">
      </div>

      <div class="form-group d-flex justify-content-between">
        <label for="userPay">Pay way: </label>
        <select [(ngModel)]="userPay" name="userPay" class="custom-select w-75 rounded border" id="userPay">
          <option class="border">Cash
          </option>
          <option class="border">Card
          </option>
        </select>
      </div>
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-danger mr-1" (click)="resetForm()" (click)="modalRef.hide()">Dismiss</button>

        <button class="btn btn-success submit" (click)="addOrder()" (click)="modalRef.hide()">Accept Order</button>

      </div>
    </form>

  </div>

</ng-template>
