header{
  font-family: 'Comfortaa', cursive;
}

header .headerSection .basket {

    position: relative;
    display: block;

  }
  
  header .headerSection .basket img {
    width: 28px;
    height: 28px;
    display: table;
    margin: 0 auto -5px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: opacity .250s linear;
    -o-transition: opacity .250s linear;
    transition: opacity .250s linear;
  }
  
  header .headerSection .basket .basketPrice {
    color: #fff;
  }
  
  header .headerSection .basket .basketPrice span {
    font-size: 13px;
    margin-right: 5px;
    max-width: 43px;
    min-width: 38px;
    text-align: right;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    font-weight: 700;
  }
  
  header .headerSection .basket .basketPrice i {
    font-size: 11px;
    display: inline-block;
    vertical-align: bottom;
    font-style: normal;
  }
  
  header .headerSection.user-block a {
    color: rgba(255,255,255,.5)
  }
  .myimg{
    width: 28px;
    height: 28px;
    display: table;
    margin: 0 auto -5px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transition: opacity .250s linear;
    -o-transition: opacity .250s linear;
    transition: opacity .250s linear;
  }

  header .headerSection.user-block a:hover{
   color: rgba(255,255,255,.75)
  }
 .myimg:hover{
   outline: none;
   border-radius: 50px;
   border-color: #80bdff;
   box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
 }
 .myimg:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  border-radius: 50px;
}
 